@page "/administrar"

<EditForm Model="entidad" OnValidSubmit="Guardar">
    <DataAnnotationsValidator/>

    <div class="card align-items-inherit bg-light" style="width: 35rem;">

        <div class="card mb-3 bg-secondary">

            <div class="card-header bg-dark">
                <h3 class="text-white">Entrada de Productos Empacados</h3>
            </div>

            <div class="card-body">

                <div class="form-row align-items-center mb-3">
                    <div class="col">
                        <div class="form-group">
                            <div class="input-group">

                                <span class="input-group-text">Id</span>
                                <InputNumber class="form-control me-3 rounded-end" @bind-Value="Id"/>
                                @* <ValidationMessage For="@(() => producto.ProductoId)"/> *@
                                <div class="input-group-append">
                                     <button type="button" class="btn btn-dark input-group-text" > @* @onclick="Buscar" *@
                                         <span class="oi oi-magnifying-glass" title="magnifying-glass" aria-hidden="true"></span>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            

                <div class="form-group mb-3">
                    <div class="input-group">

                        <span class="input-group-text">Fecha</span>
                        <InputText class="form-control"  @bind-Value="Fecha"/>
                        @* <ValidationMessage For="@(() => producto.Descripcion)"/> *@

                    </div>
                </div>

                <div class="form-group mb-3">
                    <div class="input-group">

                        <span class="input-group-text">Concepto</span>
                         <InputText class="form-control" @bind-Value="Concepto" />
                        @* <ValidationMessage For="@(() => producto.Existencia)"/> *@

                    </div>
                </div>

            </div>
            
        </div>
            
        <div class="card mb-3 bg-secondary">

            <div class="card-header bg-dark">
                <h3 class="text-white">Utilizados</h3>
            </div>

            <div class="card-body">
                <div class="col">
                    <div class="form-group">
                        <div class="input-group">

                            <div class="d-inline mx-3">

                                <label>Producto</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected disabled value="">Selecciona...</option>
                                    <option value="1">Caja Mixta</option>
                                    <option value="2">Mani</option>
                                    <option value="3">Pistacho</option>
                                    <option value="4">Pasas</option>
                                    <option value="5">Ciruelas</option>
                                    <option value="6">Arandanos</option>
                                </select>

                            </div>

                            <div class="d-block">

                                <label>Cantidad</label>
                                <InputNumber class="form-control" @bind-Value="Cantidad"/>

                            </div>
                            
                            <div class="m-4">

                                <button type="button" class="btn btn-lg btn-dark" > @* @onclick="AgregarDetalle" *@
                                    Add
                                </button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-light">
                <thead class="thead">
                    <tr class="table">
                        <th>Producto</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    @* @foreach (var item in producto.Detalle)
                    {
                        <tr>
                            <td>Descripcion</td>
                            <td>Cantidad</td>
                            <td>Precio</td>

                            <td>
                                <span class="btn btn-sm btn-outline-primary oi oi-ban" href="#">
                                    Remover
                                </span>
                            </td>
                        </tr>
                    } *@
                </tbody>
            </table>

        </div>

        <div class="card mb-3 bg-secondary">

            <div class="card-header bg-dark">
                <h3 class="text-white">Producido</h3>
            </div>

            <div class="card-body">
                <div class="col">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="d-block mx-3">
                                <label>Producto</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected disabled value="">Selecciona...</option>
                                    <option value="1">Caja Mixta</option>
                                    <option value="2">Mani</option>
                                    <option value="3">Pistacho</option>
                                    <option value="4">Pasas</option>
                                    <option value="5">Ciruelas</option>
                                    <option value="6">Arandanos</option>
                                </select>
                            </div>
                            <div class="d-block">
                                <label>Cantidad</label>
                                <InputNumber class="form-control" @bind-Value="Cantidad"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group text-center mb-3">
             <button type="button" class="btn btn-lg btn-outline-dark mx-3"> @* @onclick="" *@
                Nuevo
            </button>
            <button type="button" class="btn btn-lg btn-outline-success mx-3"> @* @onclick="" *@
                Guardar
            </button>
            <button type="button" class="btn btn-lg btn-outline-danger mx-3"> @* @onclick="" *@
                Eliminar
            </button>
        </div>

    </div>
    
</EditForm>


@code {

    public Entidad entidad = new Entidad();

    int Id;
    string Fecha;

    string Concepto;


    //Utilizados

    int Producto;

    int Cantidad;

    //Cosa del Profe

    int Cajas = 1000;
    int Pistachos = 1000;

    int Funditas = 200;


    public void Guardar(){

    }

}
