@page "/"

<PageTitle>Index</PageTitle>

<h1 class="text-white m-4">Sistema de Administracion y Gestion(SAG)</h1>

<p class="text-white m-4">Bienvenido a tu nuevo Sistema.</p>
@* <p class="text-white">Welcome to your new app.</p> *@

