@page "/"

<PageTitle>Index</PageTitle>

<h1 class="text-white m-4">Sistema de Administracion y Gestion(SAG)</h1>

<p class="text-white m-4">Bienvenido a tu nuevo Sistema.</p>

<div class="d-block gap-5">
    <img src="./img/Logo.png" width="300" class="rounded mx-auto d-block mt-5 align-middle">
</div>
@* <p class="text-white">Welcome to your new app.</p> *@

